.lyrics{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.lyrics__updateBTN{
    cursor: pointer;
    background-color: var(--spotify-green);
    border: none;
    font-size: 18px;
    padding: .5rem;
    margin: 1rem;
    border-radius: .5rem;
    transition: .2s ease;
}

.lyrics__updateBTN:active{
    transition: .2s ease;
    filter: brightness(110%);
}

.lyrics__line{
    font-size: 20px;
    font-weight: 500;
    margin: .5rem;
}